Repository junseokho/cptm.net, pull requests merged in 2024-12, with the labels that each got.

#28 handleResign 리팩토링 및 Test 코드 리팩토링
  src/main/java/com/example/chessdotnet/controller/ChessGameController.java
Labels: test, refactor

#54 [Feature/Fix] getPlayableRooms getSpectatableRooms 및 joinRoom use-case 에 대한 기능 구현 + Entity 칼럼 이름 버그 해결
  src/main/java/com/example/chessdotnet/controller/RoomController.java
  src/main/java/com/example/chessdotnet/dto/Room/JoinRoomRequest.java
  src/main/java/com/example/chessdotnet/entity/Room.java
  src/main/java/com/example/chessdotnet/entity/User.java
  src/main/java/com/example/chessdotnet/repository/RoomRepository.java
  src/main/java/com/example/chessdotnet/service/RoomService.java
Labels: bug, feat, Room, User

#55 [Feature] Add features for `spectateRoom` use-case
  src/main/java/com/example/chessdotnet/controller/RoomController.java
  src/main/java/com/example/chessdotnet/dto/Room/SpectateRoomRequest.java
  src/main/java/com/example/chessdotnet/service/RoomService.java
Labels: feat, Room

#61 [fix] `RoomDTO`: Fix wrong path to RoomDTO (#34 #35)
  src/main/java/com/example/chessdotnet/dto/RoomStatusMessage.java
  src/main/java/com/example/chessdotnet/service/RoomWebSocketService.java
Labels: feat, Room

#63 [Feature/Fix] Add methods for `Chessboard` class to determine checkmate and stalemate or else. / 유효하지 않은 promotion 을 판별하지 못하던 오류 수정
  src/main/java/com/example/chessdotnet/service/chessGameSession/Chessboard.java
  src/main/java/com/example/chessdotnet/service/chessGameSession/Pawn.java
  src/test/java/com/example/chessdotnet/service/chessGameSession/ChessboardTest.java
Labels: feat, ChessGame

#5 프론트엔드 체스보드 및 기물 구현 풀리퀘
  src/main/frontend/src/assets/ChessBoard.css
  src/main/frontend/src/components/ChessBoard.jsx
  src/main/frontend/src/components/ChessBoardLogic.jsx
  src/main/frontend/src/components/Piece.jsx
  src/main/frontend/src/components/Square.jsx
  src/main/frontend/src/components/initialChessBoard.js
  src/main/frontend/src/utils/utils.js
  src/main/resources/application.properties
Labels: bug, feat

#66 [Feature] 프론트엔드 체스 게임 세션에서의 웹소켓 API 요청기능 구현
  src/main/frontend/src/apis/SendMove.js
  src/main/frontend/src/components/ChessBoard.jsx
Labels: feat

#68 feat(MatchAPI -> RoomAPI): rewrite MatchAPI for adapting to redesigne…
  src/main/frontend/src/apis/MatchAPI.js
  src/main/frontend/src/apis/RoomAPI.js
  src/main/frontend/src/components/Lobby.jsx
Labels: feat
